// app specific
.body {
	height: auto;
	background-image: url("../assets/tweed/tweed.png");
}
nav {
	height: 10vh;
}
.collapsible {
	margin-top: 2em;
}
.canvas-container{

}
#canvas {
	padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.test {
	margin-top: 6em;
	border: 1px #333 solid;
	border-radius: 4px;
	margin: 2em;
}
.demo {
	border-right: 1px solid #333;
	height: 85vh;
	min-height: 85vh;
	margin-bottom: none;
}