// app specific
.main {
	height: 100vh;
	max-height: 100vh;
	background-image: url("../assets/tweed/tweed.png");
	overflow: hidden;
}
nav {
	height: 10vh;
}


// CSS for game forms
.form-container {
	color: #f8f8f3;
	margin-top: 2em;
	background-color: #484848;
	border-top: 4px #c0392b solid;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	h3 {
		font-size: 1.5em;
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
	}
}
form {

}
// End Forms css
// Lobby CSS
.spinner {
	position: relative;
	height: 480px;
	color: #f8f8f3;
	margin-top: 2em;
	background-color: #484848;
	border-top: 4px #3498db solid;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	h3 {
		font-size: 1.5em;
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
	}
}
// End Lobby CSS
// CSS for canvas


// End Canvas CSS

// html for game.html structure
// .main {
// 	position: fixed;
// 	bottom: 0;
// 	right: 0;
// 	left: 0;
// 	top: 0;
// }
.test {
	margin-top: 6em;
	border: 1px #333 solid;
	border-radius: 4px;
	margin: 2em;
}
.control-area {
	background-color: #333;
	position: absolute;
	bottom: 0;
	right: 0;
	height: 6em;
}
.demo {
	border-right: 1px solid #333;
	height: 85vh;
	min-height: 85vh;
	margin-bottom: none;
}
.collapsible {
	margin-top: 2em;
}