// app specific
.main {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	height: 100vh;
	max-height: 100vh;
	background-image: url("../assets/tweed/tweed.png");
	overflow: hidden;
}
nav {

}
.nav-wrapper {
	line-height: 64px;
	height: 64px;
	a {

		height: 64px;
		line-height: 64px;
		img {
			height: 64px;
			display: inline;
		}
	}
	#title {
		display: inline-block;
		height: 64px;
		font-size: 42px;
		font-family: 'norwester';
		font-variant: small-caps;
		margin-left: 1em;
	}
	.player-icon {
		height: 52px;
		width: 52px;
		margin-left: 2em;
	}
}
@font-face {
    font-family: 'norwester';
    //src: url(http://hassassin.netsoc.co/client/assets/fonts/norwester/webfonts/norwester.ttf);
    src: url(../assets/fonts/norwester/webfonts/norwester.ttf);
}

// CSS for game forms
.form-container {
	color: #f8f8f3;
	margin-top: 2em;
	background-color: #484848;
	border-top: 4px #c0392b solid;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	h3 {
		font-size: 1.5em;
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
	}
}
form {

}
// End Forms css
// Lobby CSS
.spinner {
	position: relative;
	height: 480px;
	color: #f8f8f3;
	margin-top: 2em;
	background-color: #484848;
	border-top: 4px #3498db solid;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	h3 {
		font-size: 1.5em;
		margin-left: auto;
		margin-right: auto;
		display: inline-block;
	}
}
// End Lobby CSS
// CSS for canvas


// End Canvas CSS

// html for game.html structure
// .main {
// 	position: fixed;
// 	bottom: 0;
// 	right: 0;
// 	left: 0;
// 	top: 0;
// }
.control-area {
	background-color: #333;
	position: fixed;
	bottom: 0;
	height: 14em;
	width: 100%;
	padding-left: 1em;

	color: white;
	font-family: 'norwester';

	h2 {
		font-size: 3em;
		
		letter-spacing: 2px;
		font-variant: small-caps;
		margin-top: 0.5em;
		margin-bottom: 0;
		display: inline-block;
	}
	p {
		display: block;
		font-size: 3em;
		margin-top: 0em;
		margin-bottom: 0;
	}
	#player-image {
		margin-top: 1em;
		margin-left: 4em;
		display: inline-block;
		width: 70px;
		height: 70px;
		background-color: #fff;
	}
}
.demo {
	border-right: 1px solid #333;
	margin-bottom: none;
	height: 100%;
}
.figurines {
	margin-top: 2em;
	background-color: #333;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 0.3em;

	h2 {
		font-size: 2em;
		font-family: 'norwester';
		font-variant: small-caps;
	}

	img {
		margin-right: 1em;
		margin-bottom: 1em;
	}
}
#boardCanvas {
	border:1px solid #000000; 
	background: #E9DFCC ;
	position: absolute;left: 50;top:55;
	z-index:0;
}
#dynamicCanvas {
	border:1px solid #000000;
	position: absolute;left: 50;top:55;
	z-index:1;
}
.collapsible {
	margin-top: 2em;
}
.options {
	border-bottom: 1px #000 solid;
	padding: 1em;
}
.option-button {
	width: 100%;
	margin-top: 1em;
}
.chat {
	padding-top: 0.1em;
}
.chat-log {
	margin: 0em 0.3em 0.2em 0.3em;
	border-radius: 5px;
}