

@font-face {
    font-family: 'RedRooster';
    src: url(../fonts/RedRooster.ttf);
}


$fullscreen-margin: 6em;

body {

	margin: 0 0 0 0;
	max-height: 100vh;
	
} // body end 

// main page specific

